
.navbar{
    padding: 2rem;
    height: 80px;
    border-bottom: 0.5px solid lightblue;
    display: flex;
    align-items: center;
    font-size: 14px;
    .wrapper{
        width: 100%;
        display:flex;
        padding:20px;
        align-items: center;
        justify-content: space-between;
    
    .left-item{
        display: flex;
        align-items: center;
        .logo{
            height: 5rem;
            font-weight: bold;
            font-size:22px;
            gap:1rem;
            height: 4%;
            padding: 20px;
        }
        .logo>img{
            width: 3rem;
            height:3rem;
        }
        .menuText{
            font-weight: bold;
            padding-left: 5px;
        }
        .hamburgerMenuIcon{
            size: 40px;
            color: red;
            cursor: pointer;
        }
          
    }
    .right-item{
        display: flex;
        margin-right: 5%;
        gap:1.2rem;
        align-items: center;
          .avatar{
            width: 30px;
            height: 30px;
            border-radius: 50%;// raduis circle
            cursor: pointer;
          }
          .userDetails{
            display: flex;
            flex-direction: column;
          }
          .profile-menu{
            display:flex;
            flex-direction: column;
            align-items: center;
            gap:0.75rem;

            ul{
                list-style: none;
                color:black;
            }
            
            a{
                text-decoration: none;
                color: black; 
            }
           
          }
        
    }
 }
}




  